<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>SukiCai's Personal Website</title>
        <link rel="stylesheet" href="../static/project.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class = "header">
            <nav>
                <a href="/"><img src="/static/images/logo.png" width="150" height="50"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="">RESUME</a></li>
                        <li><a href="/project/">PROJECTS</a></li>
                        <li><a href="">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <div class="text-box">
                <h1>Worlds Cleverest Person</h1>
                <p>WITHOUT DOUBT</p>
                <a href="" class="hero-btn">Visit Us To Know More</a>
            </div>
        </section>
        <!-- ------- project ------- -->
        <section>
            <h1> Projects </h1>
            <p> Machine Learning Projects</p>
            <div class = "row">
                <div class="project-col">
                    <h3>Important Features Detector</h3>
                    <p>Ranking the features using Random Forest with auto-optimization</p>
                </div>
                <div class="project-col">
                    <h3>Network Influencer Finder</h3>
                    <p>Detecting network influencer using Social Network Analysis</p>
                </div>
                <div class="project-col">
                    <h3>Word Cloud Generator</h3>
                    <p>Generating a fancy word cloud basing on the provided images and texts</p>
                </div>
            </div>
             <!-- ------- video ------- -->
             <div class="container">
                <div class="mySlides">
                    <video autoplay muted loop id="myVideo">
                        <source src="/static/images/forest.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="content">
                        <h1>Random Forest</h1>
                        <p>Learn More</p>
                        <button id="myBtn" onclick="myFunction()">Pause</button>
                    </div>
                </div>
                <div class="mySlides">
                    <video autoplay muted loop id="myVideo">
                        <source src="/static/images/wordcloud.mov" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="content">
                        <h1>Word Cloud</h1>
                        <p>Learn More</p>
                        <button id="myBtn" onclick="myFunction()">Pause</button>
                    </div>
                </div>
                <div class="mySlides">
                    <video autoplay muted loop id="myVideo">
                        <source src="/static/images/wordcloud.mov" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="content">
                        <h1>Social Network Analysis</h1>
                        <p>Learn More</p>
                        <button id="myBtn" onclick="myFunction()">Pause</button>
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
            <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="caption-container">
            <p id="caption"></p>
        </div>
        </section>
        <!--------- Important Features Detector --------->
        <!-- <section class = "detector">
            <h1> Important Features Detector</h1>
            <p> this is the introduction of the detector</p>
        </section> -->
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu() {
                navLinks.style.right = "0"
            }
            function hideMenu() {
                navLinks.style.right = "-200px"
            }
            var video = document.getElementById("myVideo");
            var btn = document.getElementById("myBtn");

            function myFunction() {
            if (video.paused) {
                video.play();
                btn.innerHTML = "Pause";
            } else {
                video.pause();
                btn.innerHTML = "Play";
            }
            }
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
            showSlides(slideIndex += n);
            }

            function currentSlide(n) {
            showSlides(slideIndex = n);
            }

            function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
            }  
        </script>
    </body>
</html>