<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>SukiCai's Projects</title>
        <link rel="stylesheet" href="../static/project.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>
        <section class = "header">
            <nav>
                <a href="/"><img src="/static/images/logo.png" width="150" height="50" class="topleft"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="">RESUME</a></li>
                        <li><a href="/project/">PROJECTS</a></li>
                        <li><a href="">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <!-- ------- video ------- -->
            <div class="container">
                <!-- ------------  -->
                <div class="mySlides">
                    <video autoplay muted loop id="myVideo">
                        <source src="/static/images/forest.mp4" type="video/mp4">
                    </video>
                    <div class="text-box">
                        <h1>Random Forest Classifier</h1></br>
                        <a href="#project1" class="btn btn-white btn-animate">Learn More</a>
                    </div> 
                </div>
                <!-- ------------  -->
                <div class="mySlides">
                    <video autoplay muted loop id="myVideo">
                        <source src="/static/images/influence.mov" type="video/mp4">
                    </video>
                    <div class="text-box">
                        <h1>Network Influencer Detector</h1></br>
                        <a href="#project2" class="btn btn-white btn-animate">Learn More</a>
                    </div> 
                </div>
                <!-- ------------  -->
                <div class="mySlides">
                    <video autoplay muted loop id="myFilteredVideo">
                        <source src="/static/images/word_cloud.mov" type="video/mp4">

                    </video>
                    <div class="text-box">
                        <h1 style="color: white;">Word Cloud Generator</h1></br>
                        <a href="#project3" class="btn btn-white btn-animate">Learn More</a>
                    </div> 
                </div>

            </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        <div class="caption-container">
            <p id="caption"></p>
        </div><br>
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        </section>



          <!-- ----------------------------------- project1 ------------------------------------------------- -->
        <section class = "project1" id="project1">
          <div class="w3-content" style="max-width:1400px">
              <!-- Header -->
              <header class="w3-container w3-center w3-padding-32"> 
                <h1><b>Random Forest Classifier</b></h1>
                <p>Welcome to the project of <span class="w3-tag">Suki Cai</span></p>
              </header>

              <!-- Grid -->
              <div class="w3-row">
              
              <!-- Blog entries -->
              <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                  <img src="/static/images/rf.png" alt="Nature" style="width:100%">
                  <div class="w3-container">
                    <h3><b>Introduction</b></h3>
                    <h5>Analyzing each feature weight to the classified target under an auto-optimize random forest algorithm. <span class="w3-opacity">Python</span></h5>
                  </div>
                  <div class="w3-container">
                    <p>Illustration of random forest. (a) In the training process, each decision tree is built based on a bootstrap sample of the training set, which contains two kinds of examples (green labels and red labels). (b) In the classification process, decision for the input instance is based on the majority voting results among all individual trees. (Machado et al., 2015) . Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                      tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                  </div><hr>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                  <br>
                    <div class="w3-container">
                      <h3><b>Build Your Own Classifier</b></h3>
                      <!-- <h5>Please upload your CSV file and custom the target below, <span class="w3-opacity">April 2, 2014</span></h5> -->
                    </div>
                    


                  <div class="float-parent-element w3-container" style="width: 100%;">
                    <div class="float-child-element" style="width: 100%;">
                      <div class="w3-container">
                        <p>Please upload your CSV file and custom the target below</p><br>
                      </div>
                      <!-- The Modal -->
                      <button id="myBtn" style="width: 10%; font-size: 10px; border-radius: 5px;">Instructions</button>
                      <div id="myModal" class="modal">
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <h1>Sample CSV File</h1>
                          <img id="myImg" src="/static/images/sampleT.png" style="width:500px">
                        </div>
                      </div><br><br>


                      <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
                        <label class="custom-file-upload">
                            <input type = "file" id="csvFile" name = "file"/>
                            <br><br>
                            <i class="fa fa-cloud-upload fa-lg"></i>
                            <h4 style="color: grey;">Click to Select File</h4>
                        </label><br>
                        <br>
                        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg" style="width: 95%;">Upload</button>
                        {% if message %}
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Failed!</strong> {{message}}
                        </div>
                        {% else %}
                        <div class="alert success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Success!</strong> {{message}}
                        </div>
                        {% endif %}  
                      </form><br>
                    </div>




                     <script>
                      // Get the modal
                      var modal = document.getElementById("myModal");
                      
                      // Get the button that opens the modal
                      var btn = document.getElementById("myBtn");
                      
                      // Get the <span> element that closes the modal
                      var span = document.getElementsByClassName("close")[0];
                      
                      // When the user clicks the button, open the modal 
                      btn.onclick = function() {
                        modal.style.display = "block";
                      }
                      
                      // When the user clicks on <span> (x), close the modal
                      span.onclick = function() {
                        modal.style.display = "none";
                      }
                      
                      // When the user clicks anywhere outside of the modal, close it
                      window.onclick = function(event) {
                        if (event.target == modal) {
                          modal.style.display = "none";
                        }
                      }
                      </script>
                    <!-- -------- Custom Target ---------- -->
                    <div class="float-child-element" style="width: 100%;">
                      <form class="grid" action="/result" method="POST">
                        {% if name %}
                          <center>
                            <h3 style="color: blue;" class="let_space">Your Target is: {{name}}</h3>
                          </center> 
                        {% endif %} 
                        <label for="name">Target name:</label>
                        <input type="text" id="name" name="name"><br><br>
                        <label for="accuracy">Target accuracy:</label>
                        <input type="text" id="accuracy" name="accuracy"><br>
                        <br>
                        <center><input class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block" type="Submit"></center><br><br>
                      </form>
                    </div>
                    <embed width="100%" height="500px" src="/result"><br>
                </div>
                <!-- <form class="project" action="/result" method="POST">
                  {% if name %}
                      <center>
                      <h3 style="color: blue;" class="hero-btn" id="rf">{{name}}</h3>
                      </center> 
                  {% endif %}
                  <label for="name">Enter you target column name:</label>
                  <input type="text" id="name" name="name">
                  <center><input class="hero-btn" type="Submit"></center>
                </form> -->
                </div>
              <!-- END BLOG ENTRIES -->
              </div>
              
              <!-- Introduction menu -->
              <div class="w3-col l4">  
                                <!-- Benefits & Challenges -->
                <div class="w3-card w3-margin w3-margin-top">
                  <img src="/static/images/hr.png" style="width:100%; filter:grayscale(0.55)">
                    <div class="w3-container w3-white">
                      <h4><b>Real Life Analogy</b></h4>
                      <p>A HR want to find the best candidate -> He collected info about both the current employees and the unqualified interviewee -> He ranked the people according to their performance -> He imported the cleaned up file containing the data above -> According to the built up model, the HR can put in the candidate info and then get the "performance" prediction</p><br>
                    </div>
                  </div><hr>
                <!-- Application -->
                <div class="w3-card w3-margin">
                  <div class="w3-container w3-padding">
                    <h4>Application</h4>
                  </div>
                  <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16 flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="/static/images/banking.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Banking</span><br>
                            <span>Granting of banking facilities</span>
                        </div>
                        <div class="flip-card-back">
                            <span>• Credit Card Fraud Detection</span><br>
                            <span>• Customer Segmentation</span><br>
                            <span>• Predicting Loan Defaults</span><br>
                        </div>
                      </div>
                    </li>
                    <li class="w3-padding-16 flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="/static/images/medicine.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                          <span class="w3-large">Medicine</span><br>
                          <span>Recognize the great mix in the medicines</span>
                        </div>
                        <div class="flip-card-back">
                            <span>• Cardiovascular Disease Prediction</span><br>
                            <span>• Diabetes Prediction</span><br>
                            <span>• Breast Cancer Prediction</span><br>
                        </div>
                      </div>
                    </li> 
                    <li class="w3-padding-16 flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="/static/images/stock.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                          <span class="w3-large">Stock Market</span><br>
                          <span>Analyze the behavior of the stock market</span>
                        </div>
                        <div class="flip-card-back">
                            <span>• Stock Market Prediction</span><br>
                            <span>• Stock Market Sentiment Analysis</span><br>
                            <span>• Bitcoin Price Detection</span><br>
                        </div>
                      </div>
                    </li> 
                    <li class="w3-padding-16 flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="/static/images/shopify.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                          <span class="w3-large">E-commerce</span><br>
                          <span>Recommend or suggest to consumers</span>
                        </div>
                        <div class="flip-card-back">
                            <span>• Product Recommendation</span><br>
                            <span>• Price Optimization</span><br>
                            <span>• Search Ranking</span><br>
                        </div>
                      </div>
                    </li> 
                  </ul>
                </div>
                <hr>
                <!-- Labels / tags -->
                <div class="w3-card w3-margin">
                  <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                  </div>
                  <div class="w3-container w3-white">
                  <br>
                  <p><span class="w3-tag w3-black w3-margin-bottom">Machine Learning</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Data Mining</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Supervised Learning</span>
                    <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Anomaly Detection</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Dimensionality Reduction</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Structured Prediction</span>
                    <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Reinforcement Learning</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Artificial Neural Network</span>
                  </p>
                  </div>
                </div>
                <hr>
                <!-- ------- Contact Me -------- -->
                <div class="w3-card w3-margin fcf-body">
                    <div id="fcf-form w3-container w3-padding">
                    <h3 class="fcf-h3">Q & A</h3>
                    <form id="fcf-form-id" class="fcf-form-class" method="post" action="/ask">
                        <div class="fcf-form-group">
                            <label for="Name" class="fcf-label">Your name</label>
                            <div class="fcf-input-group">
                                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
                            </div>
                        </div>
                        <div class="fcf-form-group">
                            <label for="Email" class="fcf-label">Your email address</label>
                            <div class="fcf-input-group">
                                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
                            </div>
                        </div>
                        <div class="fcf-form-group">
                            <label for="Message" class="fcf-label">Your message</label>
                            <div class="fcf-input-group">
                                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
                            </div>
                        </div>
                        <div class="fcf-form-group">
                            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Question</button>
                        </div>
                    </form>
                    </div>
                </div>






                </div>
              <!-- END Introduction Menu -->
              </div>
              <!-- END GRID -->
              </div><br>
              <!-- END w3-content -->
              </div>
              <!-- Footer -->
              <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
                <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
                <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
              </footer>


            <script>
                function openPage(pageName,elmnt,color) {
                  var i, tabcontent, tablinks;
                  tabcontent = document.getElementsByClassName("tabcontent");
                  for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                  }
                  tablinks = document.getElementsByClassName("tablink");
                  for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                  }
                  document.getElementById(pageName).style.display = "block";
                  elmnt.style.backgroundColor = color;
                }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
                  
    </section>







        <section class = "project2" id="project2">
        </section>

        <section class = "project3" id="project3">
        </section>


        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu() {
                navLinks.style.right = "0"
            }
            function hideMenu() {
                navLinks.style.right = "-200px"
            }
            var video = document.getElementById("myVideo");
            var btn = document.getElementById("myBtn");

            function myFunction() {
            if (video.paused) {
                video.play();
                btn.innerHTML = "Pause";
            } else {
                video.pause();
                btn.innerHTML = "Play";
            }
            }
            let slideIndex = 1;
            showSlides(slideIndex);
            function plusSlides(n) {
            showSlides(slideIndex += n);
            }
            function currentSlide(n) {
            showSlides(slideIndex = n);
            }
            function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
            }  
        </script>
    </body>
</html>