<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>SukiCai's Projects</title>
        <link rel="stylesheet" href="./static/project.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class = "header">
            <nav>
                <a href="project.html"><img src="./images/logo.png" width="150" height="50"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="">RESUME</a></li>
                        <li><a href="project.html">PROJECTS</a></li>
                        <li><a href="">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <div class="text-box">
                <h1>Important Features Detector</h1>
                <form action="upload.php" method="post" enctype="multipart/form-data">
                    Select image to upload:
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Upload Image" name="submit">
                </form>
                <a href="" class="hero-btn">Analyze</a>
                <form class="hero-btn" action="/result" method="POST">
                    {% if name %}
                      <center>
                        <h3 style="color: black;" class="hero_btn">Analyze Result: {{name}}</h3>
                      </center> 
                    {% endif %}  
                    <label for="name">Enter your name:</label>
                    <input type="text" id="name" name="name">
                    <center><input class="file_submit" type="Submit"></center>
                  </form>
            </div>         
        </section>
        <!-- ------- project ------- -->
        <section class="project">
            <h1> Projects </h1>
            <p> Machine Learning Projects</p>
            <div class = "row">
                <div class="project-col">
                    <h3>Important Features Detector</h3>
                    <p>Ranking the features using Random Forest with auto-optimization</p>
                </div>
                <div class="project-col">
                    <h3>Network Influencer Finder</h3>
                    <p>Detecting network influencer using Social Network Analysis</p>
                </div>
                <div class="project-col">
                    <h3>Word Cloud Generator</h3>
                    <p>Generating a fancy word cloud basing on the provided images and texts</p>
                </div>
            </div>
        </section>
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu() {
                navLinks.style.right = "0"
            }
            function hideMenu() {
                navLinks.style.right = "-200px"
            }
        </script>
    </body>
</html>